name: Haxe Workflow Linux Demo
  
on:
  workflow_dispatch
  
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Set up Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.5
      - run: |
          haxe -version
          haxelib install hxcpp
          
      - uses: actions/checkout@v3
        name: Check out repository
      
      - name: Run haxe
        run: | 
          haxelib run openfl build project.xml linux -clean
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with: 
          name: assets
          path: cpp/Main
