name: Haxe Workflow macOS Demo
  
on:
  workflow_dispatch
  
jobs:
  build:
    name: Build
    runs-on: macos-latest
    
    steps:
      - name: Set up Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.5
      - run: |
          haxe -version
          haxelib install hxcpp
          
      - uses: actions/checkout@v3
        name: Check out repository

      - name: Run haxe
        run: | 
          haxelib install openfl --quiet
          haxelib run openfl setup --quiet
          haxelib install feathersui --quiet
          haxelib run openfl build project.xml mac -clean
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with: 
          name: assets
          path: bin/macos/bin/*
